body {
  background-image: url('img/image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 2s ease-in-out;
}

body.slide-in {
  background-image: url('img/new-image.jpg');
}

  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #ffffff8a;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-top:100px;
    padding-bottom: 20px;
    background-color: #ffffff59;
  }
  
  h1 {
    font-size: 3rem;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
  }
  
  .quote {
    font-size: 2rem;
    margin: 2rem 0;
    font-family: 'Rampart One', cursive;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  
  .quote.animate {
    opacity: 0;
  }
  
  button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #3f51b5;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 1s ease-in-out;
  }
  
  button:hover {
    background-color: #303f9f;
  }

  .fa-lightbulb{
    font-size:150px;
    color:yellow;
    margin-top:60px;
  }
  